<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="locations" type="WeatherApp.Service.Config.LocationConfigurationSection, WeatherApp.Service" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="apiKey" value="391e049d17714ec297d150409201407" />
    <add key="apiBaseUrl" value="http://api.weatherapi.com/v1/" />
    <add key="apiLang" value="ru" />
  </appSettings>

  <locations>
    <сities>
      <add key="Voronezh" text="Воронеж" />
      <add key="Moscow" text="Москва" />
      <add key="Stavanger" text="Ставангер" />
      <add key="Tallin" text="Таллин" />
      <add key="Oslo" text="Осло" />
      <add key="Paris" text="Париж" />
      <add key="Amsterdam" text="Амстердам" />
      <add key="Tokio" text="Токио" />
      <add key="Seoul" text="Сеул" />
      <add key="London" text="Лондон" />

      <add key="New York" text="Нью Йорк" />
      <add key="Dubai" text="Дубаи" />
      <add key="Singapore" text="Сингапур" />
      <add key="Hamburg" text="Гамбург" />
      <add key="Los Angeles" text="Лос-Анджелес" />
      <add key="Rome" text="Рим" />
      <add key="San Francisco" text="Сан-Франциско" />
      <add key="Madrid" text="Мадрид" />
      <add key="Chicago" text="Чикаго" />
      <add key="Abu Dhabi" text="Абу-Даби" />

      <add key="Beijing" text="Пекин" />
      <add key="Toronto" text="Торонто" />
      <add key="Hong Kong" text="Гог-Конг" />
      <add key="San Diego" text="Сан-Диего" />
      <add key="Boston" text="Бостон" />
      <add key="Sydney" text="Сидней" />
      <add key="Las Vegas" text="Лас-Вегас" />
      <add key="Miami" text="Майами" />
      <add key="Washington" text="Вашингтон" />
      <add key="Zurich" text="Цюрих" />

      <add key="Berlin" text="Берлин" />
      <add key="Prague" text="Прага" />
      <add key="Milan" text="Милан" />
      <add key="Houston" text="Хьюстон" />
      <add key="Melbourne" text="Мельбурн" />
      <add key="Seattle" text="Сиэттл" />
      <add key="Vienna" text="Вена" />
      <add key="Munich" text="Мюнхен" />
      <add key="Dallas" text="Даллас" />
      <add key="Vancouver" text="Ванкувер" />

      <add key="Dublin" text="Дублин" />
      <add key="Orlando" text="Орландо" />
      <add key="Osaka" text="Осака" />
      <add key="Montreal" text="Монреаль" />
      <add key="Stuttgart" text="Штутгарт" />
      <add key="Frankfurt" text="Франкфурт" />
      <add key="Lisbon" text="Лиссабон" />
      <add key="Budapest" text="Будапешт" />
      <add key="Denver" text="Денвер" />
      <add key="Philadelphia" text="Филадельфия" />
    </сities>
  </locations>

</configuration>