<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="locations" type="WeatherApp.Service.Config.LocationConfigurationSection, WeatherApp.Service" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="apiKey" value="391e049d17714ec297d150409201407" />
    <add key="apiBaseUrl" value="http://api.weatherapi.com/v1/" />
    <add key="apiLang" value="ru"/>
  </appSettings>

  <locations>
    <сities>
      <add key="Voronezh" text="Воронеж" />
    </сities>
  </locations>

</configuration>